
@model  IEnumerable<softwareproject.Models.Student>
@{
    ViewBag.Title = "Jira";
}

<h2>This is a Jira guide useful for Test Analyst new to Jira</h2>

@*<h2>Course Title: @Model.courses.courseName</h2>*@

@foreach (var item in Model) { 
<h2> Student First Name:    @item.firstName </h2>
<h2> Student Last Name:     @item.lastName </h2>
}